*{
  margin: 0px;
  padding: 0px;
}

ol, ul {
  list-style: none;
}

.login-head-wrapper{
  margin: 0 auto;
  width: 1210px;
}

.login-head-div{
  width: 450px;
  display: inline-block;
}

.login-head-icon1{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/icons.png) -920px -86px;
  position: relative;
  top: 2px;
  left: 5px;
}

.login-head-title{
  margin: 10px 0px;
  width: 450px;
  position: relative;
  top: -45px;
}

.login-head-title a{
  color: black;
  text-decoration: none;
  margin: 5px;
  font-size: 12px;
}

.login-head-icon2{
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url("../images/icons.png") -1365px -1177px;
  position: relative;
  top: 5px;
  left: -5px;
}

.login-head-search-icon{
  display: inline-block;
  position: relative;
  top: -30px;
  right: -390px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background: url(../images/icons.png) -775px -720px;
}

.login-search-div{
  display: inline-block;
  width: 440px;
  height: 50px;
  position: relative;
  top: 4px;
  left: -30px;
}

.login-head-wrapper form{
  width: 440px;
  height: 32px;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 3px;
  position: relative;
  top: 3px;
}


.login-head-search{
  width: 420px;
  height: 32px;
  font-size: 12px;
  border: none;
  background-color: #f4f4f4;
  outline: none;
}

.login-user-div{
  position: relative;
  top: -92px;
  left: 935px;
  width: 270px;
}

.user-img{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.login-head-user{
  display: inline-block;
  line-height: 50px;
}

.login-head-user a{
  text-decoration: none;
  font-size: 12px;
  color: black;
  margin: 0px 5px;
}

.login-head-user .post{
  display: inline-block;
  width: 68px;
  height: 53px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  float: right;
  color: #fff;
  background-color: #f45a8d;
  border-radius: 0 0 6px 6px;
  position: relative;
  right: -5px;
  z-index: 99999;
}

.video-content{
  width: 100%;
  height: 90px;
  background-color: #00a1d6;
  position: absolute;
  top: 45px;
  z-index: -99999;
}

.top-banner{
  width: 980px;
  height: 90px;
  margin: 0 auto;
  position: relative;
  top: 4px;
}

.title-line{
  width: 980px;
  height: 29px;
  margin: 20px auto;
  font-size: 38px;
  border-bottom: 1px solid #ddd;
}

.title-line .tit{
  position: relative;
  left: 45%;
  padding: 0px 20px;
  background-color: white;
}

.login-box{
  position: relative;
  width: 980px;
  margin: 0 auto;
  height: 380px;
}

.qrcode-login {
  position: relative;
  width: 480px;
  height: 370px;
}

.qrcode-con{
  height: 220px;
  width: 480px;
  padding-top: 72px;
}

.login-box-left{
  float: left;
}

.tv-icon{
  position: absolute;
  width: 70px;
  height: 70px;
  left: 160px;
  top: 10px;
  background: url(../images/login_left_head.png);
}

.qrcode-img img{
  margin: 0 auto;
}

.qrcode-footer{
  width: 480px;
  height: 155px;
  background: url(../images/login_left_foot.png) 0 -7px no-repeat;
}

.status-txt{
  padding-top: 20px;
  text-align: center;
  color: #222;
  font-size: 18px;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

.app-link{
  text-align: center;
  color: #717171;
  font-size: 14px;
}

.login-box .line{
  float: left;
  border-right: 1px solid #ddd;
  height: 300px;
  margin-top: 28px;
}

.login-box-right{
  float: left;
  padding-left: 45px;
  width: 490px;
  height: 313px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-login{
  position: relative;
}

.form-login .input-box {
  margin-top: 50px;
  width: 414px;
}

.form-login .input-box .item input {
  width: 410px;
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #aaa;
  font-size: 14px;
  padding: 10px;
  height: 40px;
  vertical-align: middle;
  border-radius: 4px;
}

.form-login .input-box .text {
  margin: 6px 0;
  font-size: 12px;
  height: 15px;
  line-height: 20px;
}

.form-login .input-box .remember {
  margin: 10px 0;
  color: #717171;
  width: 410px;
  font-size: 12px;
}

input, select {
  outline: none;
}

.remember-me{
  position: relative;
  top: -2px;
}

.not-remember{
  color: #bbb;
  margin-left: 10px;
  position: relative;
  top: -2px;
}

.form-login .input-box .remember .forget-password {
  float: right;
}

.form-login .input-box .remember .not-checkout {
  float: right;
  margin-right: 10px;
}

.form-login .input-box .sns .btn {
  color: #717171;
}

.weibo{
  position: relative;
  top: 4px;
  left: -10px;
}

.weibo-icon{
  position: relative;
  top: 10px;
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url("../images/weibo.png");
}

.qq{
  position: relative;
  top: 4px;
  left: -10px;
}

.qq-icon{
  position: relative;
  top: 10px;
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url("../images/qq.png");
}

.sns{
  margin-top: 10px;
}

.agreement{
  margin: 24px auto;
  width: 980px;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #99a2aa;
  text-align: center;
  line-height: 16px;
}

.el-form-item__content{
  margin-left: 0px !important;
}

.el-form-item__error{
  color: #f66495 !important;

}

.el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner, .el-form-item.is-error .el-textarea__inner:focus, .el-message-box__input input.invalid, .el-message-box__input input.invalid:focus {
  border-color: #f66495 !important;
}
